/* LESS Document */

//Base color
@baseBackground:     #F2F2f2;
@baseTextColor:      #333333;
@baseContainer:      #ffffff;


// Typography
@baseFontFamily:     "FranklinGothic-Book", "Helvetica Neue", Helvetica,Arial,sans-serif;
@baseFontSize:       15px;
@fontSizeLarge:      ceil((@baseFontSize * 1.20)); // ~18px
@fontSizeSmall:      ceil((@baseFontSize * 0.80)); // ~12px
@fontWeightBold:     bold;

@baseFontGothicBookCnd: 'FranklinGothic-BookCnd';
@baseFontGothicDemi:    'FranklinGothic-Demi';
@baseFontGothicMedium:  'FranklinGothic-Medium';
@baseFontFranklinBold:  'FranklinBold';
@baseFontSize14:     14px;
@baseFontSize13:     13px;

@fontFamilyH1:       "FranklinGothic-BookCnd", "Helvetica Neue", Helvetica,Arial,sans-serif;
@fontFamilyH2:       @fontFamilyH1;
@fontFamilyH3:       @fontFamilyH1;
@fontFamilyH4:       "FranklinGothic-Demi", "Helvetica Neue", Helvetica,Arial,sans-serif;
@fontFamilyH5:       @fontFamilyH4;
@fontFamilyH6:       @fontFamilyH4;

@fontSizeH1:         36px;
@fontSizeH2:         30px;
@fontSizeH3:         24px;
@fontSizeH4:         20px;
@fontSizeH5:         18px;
@fontSizeH6:         @baseFontSize;

@fontFamilyFormLabel:"FranklinGothic-Medium", "Helvetica Neue", Helvetica,Arial,sans-serif;
@fontFamilyTableTh:  @fontFamilyH4;
@fontFamilyTableTd:  @fontFamilyFormLabel;

@iconLargeFontSize:       22px;
@iconMediumFontSize:       20px;


@titleColor:         #002c5f;
@subtitleColor:      @titleColor;
@secondaryLightGray: #333333;


//Global Buttons

@buttonHeight:       45px;
@buttonPaddingTop:   8px;
@buttonPaddingLeft:  30px;
@buttonPaddingBottom:8px;
@buttonPaddingRight: 30px;
@buttonLineheight:   @buttonHeight;


@primaryDefaultBtn:  #008FC5;
@primaryButtonText:  #ffffff;
@primaryDefaultBtnHover:#0064C5;

@primaryLightBtn:        #ED174B;
@primaryLightBtnHover:   #B4174B;

@primaryDarkBtn:        #003366;
@primaryDarkBtnHover:   #002046;


@secondaryDefaultBtn: @primaryDefaultBtn;
@secondaryDefaultBtnHover: @primaryDefaultBtnHover;

@secondaryLightBtn: #666666;
@secondaryLightBtnHover: #505050;

@secondaryDarkBtn: #333333;
@secondaryDarkBtnHover: #1E1E1E;

@buttonDisable : #CCCCCC;

//Global Base Color
@primaryColor1 : #008FC5;
@primaryColor2 : #ED174B;
@primaryColor3 : #002C5F;
@primaryColor4 : #FFFFFF;

@secondaryColor1 : #CCCCCC;
@secondaryColor2 : #999999;
@secondaryColor3 : #666666;
@secondaryColor4 : #333333;
@secondaryColor5 : #EDEDED;

@alternativesColor1 : #E99619;
@alternativesColor2 : #9A8C7E;
@alternativesColor3 : #27A348;
@alternativesColor4 : #B9B309;
@alternativesColor5 : #99CCFF;


@inactiveAccordionBgColor4Mob: #dbdbdb;

//Global Form 
@inputHeight:        @buttonHeight;
@inputBorderColor:   #919295;
@inputDisableColor:  #CCCCCC;
@selectDropdownBorderColor: @inputBorderColor;

@successColor:       #27a348;
@errorColor:         #ff0000;
@pendingColor:       #e99619;

@alert-success:		#27a448;
@alert-error: 		#ed174b;
@warning-color: 	#ff9999;

@transition: all ease-in-out 0.5s;

@radius0 : 0;
@btnshadow :0 0 1px rgba(0, 0, 0, 0);
@box-shadow : 0 0 4px @secondaryColor1;

//Breadcrumb
@breadcrumbFontFamily : "Franklin Gothic Book", Helvetica, Arial, sans-serif;
@breadcrumbFontSize : 13px;


//Link 
@defaultLinkFontFamily: "FranklinGothic-Medium", "Helvetica Neue", Helvetica,Arial,sans-serif;
@defaultLinkColor:   #0099cc;
@defaultLinkHoverColor:#008fc5;

//Table
@tableTdFontColor:   #56565a;
@tableThFontColor:   @titleColor;
@tableBorderColor:   #dddddd;
@tableRowOddColor:   #ededed;
@tableRowEvenColor:  @baseContainer;

@otpBackground:      #ebf5ff;

@accountLeftMenuBg: #ebebeb;

@bcDashboardColor1: #37b1da;
@bcDashboardColor2: #8dc153;
@bcDashboardColor3: #f7ba43;
@bcDashboardColor4: #37bd9c;