/* LESS Document */
.img-icon-base {
  position: absolute;
  left: 50%;
  top: 50%;
}
.inner-text-base {
  color: #002c5f;
  font-family: "FranklinGothic-Medium";
  word-wrap: break-word;
  font-size: 18px;
  overflow: hidden;
  white-space: normal;
}
.innertext-desc-base {
  overflow: hidden;
  white-space: normal;
}
.grid-list-view-base span {
  line-height: 44px;
}
.grid-list-view-base a {
  color: #cccccc;
  text-decoration: none;
}
.grid-list-view-base a.active {
  color: #008fc5;
}
.heading-right-container {
  color: #002c5f;
  font-size: 24px;
  font-family: "FranklinGothic-BookCnd";
}
.download-link-base {
  font-size: 14px;
  font-family: "FranklinGothic-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* mixin for multiline */
/*.block-with-text {overflow: hidden;position: relative; line-height: 1.2em;  max-height: 3.6em; padding-right:1em;
    &:before {content: '...';  position: absolute; right: 0; bottom: 0;}
    &:after{ content: '';  position: absolute;  right: 0;  width: 1em;  height: 1em; margin-top: 0.2em;}
}

*/
/******header mixin**/
.transitionHide {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.transitionHideSlow {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.headerAnimate {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.headerShadow {
  box-shadow: 0px 0px 25px 0px #777777;
}
.imagescale {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform-origin: top center ;
  -ms-transform-origin: top center ;
  -webkit-transform-origin: top center ;
  -o-transform-origin: top center ;
  -moz-transform-origin: top center ;
}
/**Loader***/
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../images/preloader.gif') center no-repeat #ffffff;
}
.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ffffff url('../images/preloader.gif') center no-repeat;
  z-index: 9;
  left: 0;
  top: 0;
  display: none;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 5px;
}
/*---------------- Start Header------------------------- */
body.scroll-hidden {
  overflow: hidden;
  position: relative;
}
html.ios,
body.scroll-hidden {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.top-lang {
  padding-top: 5px;
  font-size: 13px;
  font-family: 'FranklinGothic-Medium';
  opacity: 1;
  z-index: 99!important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.top-lang a {
  color: #999999;
}
.sl-lang {
  display: inline-block;
}
.sl-lang li {
  border-right: solid 2px #b8b8b8;
  line-height: 11px;
  padding-right: 10px;
}
.sl-lang li:last-child {
  border-right: none;
}
.sl-lang li a {
  color: #999999;
}
.sl-lang li.current a {
  color: #008FC5;
  pointer-events: none;
}
.sl-country {
  color: #999999;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  vertical-align: top;
}
.sl-country .dropdown-menu {
  left: -15px;
  min-width: 120px;
}
.sl-country .dropdown-toggle:hover {
  cursor: pointer;
}
.sl-country li.current {
  padding: 5px 15px;
}
.sl-country li.current:hover {
  background-color: #f5f5f5;
}
.sl-country li {
  border-bottom: solid 1px #cccccc;
}
.sl-country li a {
  padding: 5px 15px;
}
.sl-country li:last-child {
  border-bottom: none;
}
.sl-country li img {
  margin-right: 3px;
}
.sl-country span.langIcon {
  margin-left: 2px;
  font-size: 9px;
}
span.inline-block {
  margin-right: 3px;
}
span.inline-block img {
  vertical-align: middle;
}
.about-link {
  display: inline-block;
}
.toogle-cart {
  display: none;
}
.header-search .input-group {
  border: 1px solid #919295;
}
.header-search .input-group .form-control {
  border: 0;
}
.header-search .input-group-btn {
  background-color: #ffffff;
  border: 0;
  border-radius: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  padding: 6px 12px;
  text-align: center;
}
.header-search .btn {
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
  height: auto;
}
/* Tool Header*/
.tool-header {
  float: right;
}
.tool-header ul {
  margin-bottom: 0;
  padding-left: 0;
}
.tool-header ul li.clickLink,
.tool-header ul li.hoverlink {
  border-right: solid 1px #ededed;
  width: 95px;
  float: left;
}
.tool-header ul li.clickLink:hover,
.tool-header ul li.hoverlink:hover {
  box-shadow: 0 0px 12px -7px;
}
.tool-header ul li.clickLink:first-child,
.tool-header ul li.hoverlink:first-child {
  border-left: solid 1px #ededed;
}
.tool-header ul li.clickLink .drop-footer,
.tool-header ul li.hoverlink .drop-footer {
  box-shadow: -1px -1px 1px 0 #cccccc;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'FranklinGothic-Medium';
}
.tool-header ul li.clickLink .drop-footer a,
.tool-header ul li.hoverlink .drop-footer a {
  color: #008fc5;
  font-size: 15px;
  text-decoration: none;
}
.tool-block {
  cursor: pointer;
  padding: 25px 5px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.tool-block a {
  color: #333333;
}
.tool-block a:hover {
  text-decoration: none;
}
.tool-block .icon-col {
  display: block;
  margin: 0 auto 5px;
  position: relative;
  width: 31px;
}
.tool-block .icon-col i {
  color: #008fc5;
  font-size: 26px;
  top: 0;
}
.tool-block .icon-col .notification {
  background: #ed174b;
  border-radius: 100%;
  color: #ffffff;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  position: absolute;
  right: -5px;
  text-align: center;
  top: -4px;
  width: 18px;
  font-family: 'FranklinGothic-Demi';
}
.tool-block .notification-text {
  display: block;
  line-height: 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.tool-block .blue-link {
  color: #008fc5;
}
.account-setting .blue-link {
  color: #008fc5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 84px;
  display: block;
}
/* Listing second level*/
.tool-header ul li li {
  float: none;
  width: inherit;
}
.tool-header ul li li:hover {
  box-shadow: none;
}
.tool-header ul li li:first-child {
  border-left: 0;
}
.tool-header ul li li:hover::after {
  background: none;
}
/* Shopping setting*/
.tool-header ul .clickSlide,
.tool-header ul .hoverSlide {
  background: #ffffff;
  border-color: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: 0 0px 12px -7px;
  position: absolute;
  top: 100%;
  z-index: 999;
}
.tool-header ul li.shoping-setting .shop-col {
  display: none;
  min-width: 1280px;
  padding: 10px 10px 0;
  right: -476px;
}
.tool-header ul li.shoping-setting .shop-col .form-horizontal .radio {
  padding-top: 0;
  line-height: 45px;
}
.tool-header ul li.shoping-setting .shop-col .form-horizontal .radio-inline {
  padding-top: 0;
}
.tool-header ul li.shoping-setting .shop-col .input-group-btn .btn {
  padding: 8px 15px;
  border-left: 0;
}
.tool-header ul li.shoping-setting .shop-col .form-horizontal label {
  padding-top: 14px;
  color: #002c5f;
}
.tool-header ul li.shoping-setting .shop-col .form-group {
  margin-bottom: 10px;
}
.tool-header ul li.shoping-setting .shop-col .icon-shop {
  font-size: 19px;
  vertical-align: text-bottom;
  margin-right: 3px;
}
.tool-header ul li.active {
  border-right: 1px solid #cccccc;
}
.delivery-address-section,
.pickup-home-section {
  display: none;
  position: relative;
  padding-top: 10px;
  margin-bottom: 5px;
  background: #F2F2f2;
  border: 1px solid #EDEDED;
}
.delivery-address-section::after,
.pickup-home-section::after,
.delivery-address-section::before,
.pickup-home-section::before {
  bottom: 100%;
  left: 70%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.delivery-address-section::after,
.pickup-home-section::after {
  border-color: rgba(242, 242, 242, 0);
  border-bottom-color: #F2F2f2;
  border-width: 20px;
  margin-left: -20px;
}
.delivery-address-section::before,
.pickup-home-section::before {
  border-color: rgba(237, 237, 237, 0);
  border-bottom-color: #EDEDED;
  border-width: 21px;
  margin-left: -21px;
}
/* Account setting*/
.account-toggle {
  display: none;
}
.tool-header ul li.account-setting .account-toggle {
  min-width: 250px;
  right: -1px;
}
.tool-header ul li.account-setting .pv-bv {
  padding: 20px 20px 5px;
}
.tool-header ul li.account-setting li {
  border-top: solid 2px #e4e4e4;
}
.tool-header ul li.account-setting li a {
  color: #464646;
  display: block;
  padding: 7px 20px;
  text-decoration: none;
}
.tool-header ul li.account-setting li a:hover {
  background: #f2f2f2;
  color: #008fc5;
}
.tool-header ul li.account-setting li a.active {
  background: #f2f2f2;
  color: #008fc5;
}
.pink-bold {
  color: #ed174b;
  font-weight: bold;
}
/* Message setting*/
.message-block {
  display: none;
}
.tool-header ul li.message-seting .message-block {
  min-width: 405px;
  right: -1px;
}
.tool-header ul li.message-seting li {
  border-top: solid 1px #cccccc;
}
.tool-header ul li.message-seting li a {
  color: #464646;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0px 10px 20px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.tool-header ul li.message-seting li a:hover {
  background: #008fc5;
  color: #ffffff;
}
.tool-header ul li .drop-header {
  font-family: 'FranklinGothic-Medium';
  padding: 10px 15px;
}
.msg-listing {
  /*max-height:225px;
	overflow-y: auto;*/
}
/* My Cart*/
.cart-block {
  display: none;
}
.tool-header ul li.my-cart .cart-block {
  min-width: 405px;
  right: -1px;
}
.tool-header ul li.my-cart .cart-header {
  border-bottom: solid 1px #cccccc;
  padding: 10px 15px;
}
.tool-header ul li.my-cart .progress-col {
  padding: 10px 15px;
}
.tool-header ul li.my-cart .progress-col p {
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'FranklinGothic-Medium';
}
.tool-header ul li.my-cart .recent-item {
  background: #ededed;
  color: #464646;
  font-family: 'FranklinGothic-Medium';
  padding: 10px 15px;
}
.tool-header ul li.my-cart li {
  border-top: solid 1px #cccccc;
  padding: 15px;
}
.tool-header ul li.my-cart li .img-thumb {
  border: solid 1px #cccccc;
}
.tool-header ul li.my-cart li .img-thumb img {
  height: 72px;
  max-width: 100%;
}
.tool-header ul li.my-cart li .item-title p {
  line-height: 17px;
  margin-bottom: 0;
  text-decoration: none;
  font-family: 'FranklinGothic-Medium';
  font-size: 14px;
}
.tool-header ul li.my-cart li .item-title p a {
  color: #333333;
  text-decoration: none;
  font-family: 'FranklinGothic-Medium';
  font-size: 14px;
}
.tool-header ul li.my-cart li .item-title span {
  font-size: 12px;
}
.tool-header ul li .price-list {
  font-size: 13px;
  text-align: right;
}
.tool-header ul li .price-list span {
  color: #008fc5;
  font-weight: bold;
}
.progress-col .progress {
  background-color: #dbdbdb;
  position: relative;
  border-radius: 0;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3) inset;
  margin: 5px 0;
}
.progress-col .progress .pro-text {
  font-size: 11px;
  padding-right: 10px;
  position: absolute;
  left: 0;
  text-shadow: 1px 1px 2px #000;
  font-weight: bold;
  text-align: center;
  width: 100%;
  top: 2px;
  color: #fff;
  text-transform: uppercase;
}
.progress-col .progress-bar-danger {
  background-color: #ed174b;
  text-align: center;
}
p.text-right {
  text-align: right;
}
.cart-listing {
  /*max-height:315px;
	overflow-y: auto;*/
}
.cart-footer {
  border-top: 1px solid #cccccc;
  margin-top: 0;
  padding: 10px 15px;
  background: #ffffff;
}
.cart-footer h6 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'FranklinGothic-Medium';
}
.view-cart-btn {
  padding-top: 10px;
}
/* Shopping listing*/
.shoping-list-drop {
  display: none;
}
.tool-header ul li.shoping-list .shoping-list-drop {
  min-width: 340px;
  right: -1px;
}
.tool-header ul li.shoping-list .shop-list-select {
  max-height: 130px;
  overflow: auto;
}
.tool-header ul li.shoping-list li {
  border-top: solid 1px #cccccc;
  color: #008FC5;
  padding: 7px 15px;
}
.tool-header ul li.shoping-list li .radio-inline {
  margin-right: 0;
  padding-left: 0;
  font-family: "FranklinGothic-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #008fc5;
}
.tool-header ul li.shoping-list li .radio-check {
  margin-bottom: 0;
  margin-left: 0;
}
.tool-header ul li.shoping-list li input[type="radio"] {
  margin-left: 8px;
}
/******Header  style Start***/
body {
  padding-top: 173px;
}
header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1030;
  background: #ffffff;
  border-top: solid 5px #cccccc;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.header-content {
  background: #fff;
  position: relative;
  z-index: 1000;
}
.header-sticker,
.logo-search-block,
.megamenu-block,
.top-tool-block {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
body.fixedbody header {
  box-shadow: 0px 0px 25px 0px #777777;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.header-container-fixed .top-lang {
  height: 10px;
  opacity: 0;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.header-container-fixed .tool-header ul li.clickLink,
.header-container-fixed .tool-header ul li.hoverlink {
  /*width: 65px;*/
}
.header-container-fixed .tool-block {
  padding: 18px 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  height: 68px;
}
.header-container-fixed .tool-block .notification-text {
  height: 0;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.fixedbody .megamenu-block {
  box-shadow: 0px 0px 25px 0px #777777;
}
.megamenu-block {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #ffffff;
}
.megamenu-block.nav-up {
  top: 5px;
}
/************************* Responsive start here**********************************/
/* 992px <= width < 1200px */
@media (min-width: 1200px) {
  .top-lang {
    height: 45px;
  }
  .tool-header ul li:hover::after {
    background: #008fc5;
    content: '';
    display: block;
    height: 5px;
    left: -1px;
    position: absolute;
    top: -5px;
    width: 100%;
  }
  .tool-header ul li.active {
    box-shadow: 0 0px 12px -7px;
  }
  .tool-header ul li.active::after {
    background: #008fc5;
    content: '';
    display: block;
    height: 5px;
    left: -1px;
    position: absolute;
    top: -5px;
    width: 103%;
  }
  .tool-header ul li.active::before {
    background: #fff;
    content: '';
    display: block;
    height: 8px;
    position: absolute;
    right: 0px;
    top: 94%;
    width: 100%;
    z-index: 99999;
  }
  .tool-header ul li.register-link.active::before,
  .tool-header ul li.shop-finder.active::before {
    top: 88%;
  }
}
@media (min-width: 320px) and (max-width: 1199px) {
  /*body.scroll-hidden{position: fixed;}*/
  .header-sticker .container {
    padding-left: 0;
    padding-right: 0;
  }
  .tool-header ul li.clickLink:hover,
  .tool-header ul li.hoverlink:hover {
    box-shadow: 0 0px 0 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  body {
    padding-top: 137px;
  }
  .scroll-hidden .menu-overlay {
    display: block;
  }
  .fixedbody header {
    border-top: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .list-inline {
    margin-bottom: 0;
  }
  .tool-header ul li.clickLink,
  .tool-header ul li.hoverlink {
    width: 60px;
    position: relative;
    border-left: 1px solid #ededed;
  }
  .tool-header ul li.clickLink.active,
  .tool-header ul li.hoverlink.active {
    background: #fff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
  }
  .tool-header ul .clickSlide,
  .tool-header ul .hoverSlide {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .tool-header ul li .tool-block {
    height: auto;
    padding: 10px 5px 5px;
  }
  .tool-header ul li .tool-block .icon-col .notification {
    right: -1px;
  }
  .tool-header ul li.shoping-setting {
    position: inherit;
  }
  .tool-header ul li.shoping-setting .shop-col {
    min-width: 310px;
    width: 100%;
    right: 0px;
  }
  .tool-header ul li.shoping-setting .shop-col .pull-right {
    width: 100%;
  }
  .tool-header ul li.shoping-setting .shop-col .form-horizontal label {
    padding-top: 3px!important;
    color: #002c5f;
  }
  .tool-header ul li.message-seting .message-block {
    right: -1px;
  }
  .tool-header ul li.shoping-list .shoping-list-drop {
    right: -1px;
  }
  .tool-header ul li.my-cart .cart-block {
    right: -1px;
  }
  .tool-header ul li.account-setting .account-toggle {
    right: -1px;
  }
  .top-lang {
    height: 25px;
  }
  .top-lang a {
    display: block;
  }
  .top-tool-block {
    background: #ededed;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
  }
  .top-tool-block .notification-text {
    display: none;
  }
  .header-sticker {
    height: 132px;
  }
  .header-sticker .logo-search-block {
    padding-left: 5px;
    padding-right: 5px;
  }
  .header-sticker .language-search {
    position: relative;
    z-index: 9;
    background: #fff;
  }
  .header-sticker .top-lang,
  .header-sticker .logo-search-block {
    padding-left: 5px;
    padding-right: 5px;
  }
  .menu-hamburger {
    color: #0099cc;
    font-size: 20px;
    margin: 0 0 0 5px;
    padding: 6px 12px 6px;
    top: 0px;
    height: 46px;
    display: block;
  }
  .menu-hamburger.active-toggle {
    background: #008fc5;
    color: #ffffff;
    border-radius: 0;
  }
  .megamenu-block.nav-up {
    top: 100%;
  }
  .header-container-fixed {
    height: 117px;
  }
  .header-container-fixed .tool-hamburger {
    display: block;
    background: #ebebeb;
    padding: 18px 13px 12px;
    top: 0;
    color: #0099cc;
    border-radius: 0;
    right: 0;
  }
  .header-container-fixed .top-lang {
    height: 10px;
  }
  .headerdidScroll {
    height: auto;
  }
  .headerdidScroll .top-tool-block {
    top: -48px;
    border: 0;
  }
  /*****megamenu for ipad***/
  .megamenu-block {
    max-width: 400px;
    background: #cccccc;
  }
  .megamenu.navbar-collapse.collapse {
    display: none!important;
  }
  .megamenu.navbar-collapse.collapse.in {
    display: block!important;
  }
  .megamenu .nav-justified li {
    width: 100%;
    display: block;
  }
  .megamenu .nav-justified li a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .pickup-home-section::after,
  .pickup-home-section::before {
    left: 270px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 178px;
  }
  .scroll-hidden .menu-overlay {
    display: block;
  }
  .fixedbody header {
    border-top: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .list-inline {
    margin-bottom: 0;
  }
  .tool-header ul li.clickLink,
  .tool-header ul li.hoverlink {
    width: 45px;
  }
  .tool-header ul .clickSlide,
  .tool-header ul .hoverSlide {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .tool-header ul li.clickLink.active,
  .tool-header ul li.hoverlink.active {
    background: #fff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
  }
  .tool-header ul li.clickLink.active:after,
  .tool-header ul li.clickLink:hover:after,
  .tool-header ul li.hoverlink.active:after,
  .tool-header ul li.hoverlink:hover:after {
    background: none;
    height: 0;
    left: 0 ;
    top: 0;
  }
  .tool-header ul li.clickLink.active:before,
  .tool-header ul li.clickLink:hover:before,
  .tool-header ul li.hoverlink.active:before,
  .tool-header ul li.hoverlink:hover:before {
    background: none;
    height: 0;
    left: 0 ;
    top: 0;
  }
  .tool-header ul li .tool-block {
    height: auto;
    padding: 10px 5px 5px;
  }
  .tool-header ul li .tool-block .icon-col .notification {
    right: -1px;
  }
  .tool-header ul li.shoping-setting .shop-col {
    min-width: 310px;
    width: auto;
    right: 5px;
    left: 5px;
  }
  .tool-header ul li.shoping-setting .shop-col .pull-right {
    width: 100%;
  }
  .tool-header ul li.message-seting .message-block {
    min-width: 310px;
    width: auto;
    right: 5px;
    left: 5px;
  }
  .tool-header ul li.shoping-list .shoping-list-drop {
    min-width: 310px;
    width: auto;
    right: 5px;
    left: 5px;
  }
  .tool-header ul li.my-cart .cart-block {
    min-width: 310px;
    width: auto;
    right: 5px;
    left: 5px;
  }
  .tool-header ul li.account-setting .account-toggle {
    min-width: 310px;
    width: auto;
    right: 5px;
    left: 5px;
  }
  .tool-header ul li.active {
    background: #fff;
  }
  .tool-header ul li.active::before .top-tool-block.collapse {
    display: block;
    height: auto;
  }
  .selsct-item {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  .order-for .selsct-item {
    width: 100%;
    margin-bottom: 10px;
  }
  .or {
    display: block;
    margin: 0 0 10px 0;
  }
  .deleveri-time {
    padding-top: 0;
  }
  .deleveri-time .facet-heading {
    display: block;
    margin-bottom: 10px;
  }
  .tool-header ul li.message-seting .message-block::after {
    right: 86px;
  }
  .tool-header ul li.shoping-list .shoping-list-drop::after {
    right: 172px;
  }
  .top-lang {
    height: 25px;
  }
  .header-logo img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0 auto;
  }
  .about-link {
    display: none;
  }
  .top-tool-block {
    background: #ededed;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
  }
  .tool-header ul li .tool-block .notification-text {
    display: none;
  }
  .tool-header ul li {
    border-right: 0 none;
    padding: 0;
    width: 43px;
  }
  .tool-header ul li .tool-block .icon-col .fa,
  .tool-header ul li .tool-block .icon-col .icon {
    font-size: 20px;
  }
  .header-sticker {
    height: 170px;
  }
  .header-sticker .logo-search-block {
    padding-left: 5px;
    padding-right: 5px;
  }
  .header-sticker .top-lang,
  .header-sticker .content-logo {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    z-index: 9;
    background: #fff;
  }
  .header-sticker .header-search-block {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    height: 45px;
  }
  .menu-hamburger {
    color: #0099cc;
    font-size: 18px;
    margin: 0 0 0 5px;
    padding: 8px 10px 6px;
    top: 0px;
  }
  .menu-hamburger.active-toggle {
    background: #008fc5;
    color: #ffffff;
    border-radius: 0;
  }
  .tool-hamburger {
    display: none;
  }
  .megamenu-block.nav-up {
    top: 100%;
  }
  .header-search input.form-control {
    height: 40px;
  }
  .header-container-fixed {
    height: 93px;
  }
  .header-container-fixed .tool-hamburger {
    display: block;
    background: #ebebeb;
    padding: 18px 13px 12px;
    top: 0;
    color: #0099cc;
    border-radius: 0;
    right: 0;
  }
  .header-container-fixed .top-lang {
    height: 0;
  }
  .header-container-fixed .header-logo {
    height: 45px;
  }
  .header-container-fixed .header-logo img {
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform-origin: top center ;
    -ms-transform-origin: top center ;
    -webkit-transform-origin: top center ;
    -o-transform-origin: top center ;
    -moz-transform-origin: top center ;
  }
  .header-container-fixed .header-search-block {
    height: 0;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .headerdidScroll {
    height: auto;
  }
  .headerdidScroll .top-tool-block {
    top: -42px;
    border: 0;
  }
  .shop-col .form-horizontal .radio {
    padding-top: 0;
    line-height: normal;
  }
  .shop-col .form-horizontal .radio-inline {
    padding-top: 5px;
  }
  .shop-col .form-horizontal label {
    padding-top: 3px!important;
    color: #002c5f;
  }
  .pickup-home-section::after,
  .pickup-home-section::before {
    left: 270px;
  }
}
@media (max-width: 350px) {
  .pickup-home-section::after,
  .delivery-address-section::after,
  .pickup-home-section::before,
  .delivery-address-section::before {
    border: none;
  }
}
/***********Megamenu style*******/
.megamenu.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.megamenu .nav {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}
.megamenu .nav-justified > .dropdown .dropdown-menu {
  width: 100%;
  left: 0;
  padding: 15px;
  border-radius: 0;
  background: #fafbfa;
  margin-top: 0;
  z-index: 999;
}
.megamenu .nav-justified > li {
  position: static;
}
.megamenu .nav-justified > li.home {
  width: 8%;
  float: left;
}
.megamenu .nav-justified > li.home a.mainCategory:hover {
  background: #002c5f;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-collapse.collapse.in {
    display: block!important;
  }
}
@media (min-width: 320px) and (max-width: 1199px) {
  .menu-hamburger,
  .tool-hamburger {
    position: absolute;
    z-index: 99999;
  }
  .menu-overlay {
    position: fixed;
    background: #000000;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.8;
    display: none;
    top: 0;
  }
  .megamenu.navbar-collapse {
    margin-left: 0px;
    margin-right: 0px;
  }
  .megamenu-block {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
    background: #ededed;
    top: 100%;
  }
  .megamenu-block .container {
    padding: 0;
  }
  .megamenu-block .navbar-collapse .nav-justified {
    overflow: auto;
  }
  .fixedbody .megamenu-block {
    top: 100%;
    box-shadow: 0 0 0;
  }
  .megamenu .nav-justified > .dropdown {
    position: relative;
  }
  .megamenu .nav-justified > .dropdown .mainglyph {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 14px;
    padding: 16px 15px;
    cursor: pointer;
    color: #ffffff;
  }
  .megamenu .nav-justified > .dropdown .dropdown-menu {
    position: static;
    background: #ebf5ff;
    margin: 0;
    padding: 0;
    float: none;
    overflow: hidden;
  }
  .megamenu .nav {
    border: none;
  }
  .megamenu .dropdown-menu .subheading {
    color: #002c5f;
    position: relative;
    font-family: 'FranklinGothic-Medium';
    font-size: 17px;
    padding: 5px 25px 5px 10px;
    margin-bottom: 0px;
    display: block;
  }
  .megamenu .dropdown-menu p.subheading-block {
    margin: 0;
    position: relative;
    padding: 3px 0;
  }
  .megamenu .dropdown-menu .open-submenu p.subheading-block {
    background: #ffffff;
  }
  .megamenu .dropdown-menu .glyphicon {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 14px;
    padding: 13px 10px;
    cursor: pointer;
  }
  .megamenu .dropdown-menu ul.L2 {
    margin: 0 0 0px 20px;
    padding: 0;
    display: none;
  }
  .megamenu .dropdown-menu ul.L2 li {
    position: relative;
  }
  .megamenu .dropdown-menu ul.L2 a {
    color: #002c5f;
    font-size: 15px;
    margin-bottom: 0px;
    padding: 7px 0;
    display: block;
    font-family: 'FranklinGothic-Medium';
  }
  .megamenu .dropdown-menu ul.L2 a:after {
    content: "\e258";
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 9px;
    font-family: 'Glyphicons Halflings';
  }
  .megamenu .dropdown-menu ul.subcategory {
    margin: 0 0 0px 10px;
    padding: 0;
    display: block;
  }
  .megamenu .dropdown-menu ul.subcategory li {
    position: relative;
  }
  .megamenu .dropdown-menu ul.subcategory a {
    color: #002c5f;
    font-size: 17px;
    margin-bottom: 0px;
    padding: 7px 0;
    display: block;
    font-family: 'FranklinGothic-Medium';
  }
  .megamenu .dropdown-menu ul.subcategory a:after {
    content: "\e258";
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 9px;
    font-family: 'Glyphicons Halflings';
  }
  .megamenu .dropdown-menu .open-submenu ul.L2 {
    display: block;
  }
  .megamenu .nav-justified > li.home {
    display: none;
  }
  .megamenu .nav-justified li > a.mainCategory {
    border-top: 0 none;
    margin: 0;
    text-align: left;
    font-family: 'FranklinGothic-Medium';
    font-size: 18px;
  }
  .megamenu .nav-justified li.shopping > a.mainCategory {
    background: #ed174b;
    color: #fff;
  }
  .megamenu .nav-justified li.business > a.mainCategory {
    background: #008fc5;
    color: #fff;
  }
  .megamenu .nav-justified li.knowledge > a.mainCategory {
    background: #27a348;
    color: #fff;
  }
  .delivery-address-section::after,
  .delivery-address-section::before {
    left: 100px;
  }
}
@media (min-width: 1200px) {
  .megamenu .nav-justified > li a.mainCategory {
    background: #fafafa;
    border-right: 1px solid #fff;
    border-top: 5px solid #cccccc;
    padding: 10px 0px;
    font-family: 'FranklinGothic-Medium';
    font-size: 18px;
    position: relative;
  }
  .megamenu .nav-justified li.home > a.mainCategory {
    border-top: 5px solid #002c5f;
    color: #002c5f;
    font-size: 25px;
    padding: 5px 0px;
  }
  .megamenu .nav-justified li.shopping > a.mainCategory {
    border-top: 5px solid #ed174b;
    color: #ed174b;
  }
  .megamenu .nav-justified li.shopping.open > a.mainCategory,
  .megamenu .nav-justified li.shopping > a.mainCategory:hover,
  .megamenu .nav-justified li.shopping > a.mainCategory.active {
    background: #ed174b;
    color: #fff;
  }
  .megamenu .nav-justified li.business > a.mainCategory {
    border-top: 5px solid #008fc5;
    color: #008fc5;
  }
  .megamenu .nav-justified li.business.open > a.mainCategory,
  .megamenu .nav-justified li.business > a.mainCategory:hover,
  .megamenu .nav-justified li.business > a.mainCategory.active {
    background: #008fc5;
    color: #fff;
  }
  .megamenu .nav-justified li.knowledge > a.mainCategory {
    border-top: 5px solid #27a348;
    color: #27a348;
  }
  .megamenu .nav-justified li.knowledge.open > a.mainCategory,
  .megamenu .nav-justified li.knowledge > a.mainCategory:hover,
  .megamenu .nav-justified li.knowledge > a.mainCategory.active {
    background: #27a348;
    color: #fff;
  }
  .megamenu .nav-justified li:last-child a.mainCategory {
    border-right: 0;
  }
  .megamenu .dropdown-menu .table-row {
    display: table-row;
  }
  .megamenu .dropdown-menu .col-lg-2,
  .megamenu .dropdown-menu .col-lg-4 {
    display: table-cell;
    border-right: 1px solid #cccccc;
    float: none;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .megamenu .dropdown-menu .subheading {
    color: #ed174b;
    font-family: 'FranklinGothic-Medium';
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
  }
  .megamenu .dropdown-menu ul.L2 {
    margin: 0 0 15px;
    padding: 0;
  }
  .megamenu .dropdown-menu ul.L2 a {
    color: #464646;
    font-size: 15px;
    margin-bottom: 3px;
    display: block;
  }
  .megamenu .dropdown-menu ul.subcategory a {
    font-family: 'FranklinGothic-Medium';
  }
  .megamenu .dropdown-menu .table-row .col-lg-2:last-child,
  .megamenu .dropdown-menu .table-row .col-lg-4:last-child {
    border: none;
  }
  .megamenu .shopping .dropdown-menu {
    border: 1px solid #ed174b;
  }
  .megamenu .shopping .dropdown-menu .subheading {
    color: #ed174b;
  }
  .megamenu .business .dropdown-menu {
    border: 1px solid #008fc5;
  }
  .megamenu .business .dropdown-menu .subheading {
    color: #008fc5;
  }
  .megamenu .knowledge .dropdown-menu {
    border: 1px solid #27a348;
  }
  .megamenu .knowledge .dropdown-menu .subheading {
    color: #27a348;
  }
  .tool-header ul li {
    position: relative;
  }
}
/******Country selection popup style*****/
.country-popup button.close {
  font-size: 38px;
  margin: 0 10px;
}
.country-popup .modal-header {
  border: none;
  padding: 0;
}
.country-popup .modal-body {
  padding: 0 15px;
}
.country-list {
  margin-bottom: 30px;
}
.country-list h2 {
  margin: 0 0 10px;
  font-family: "FranklinGothic-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #002c5f;
}
.country-list ul {
  margin: 0;
  padding: 0;
}
.country-list li {
  border-top: 1px solid #ededed;
}
.country-list li a {
  font-family: 'FranklinGothic-Medium';
  font-size: 13px;
  display: block;
  padding: 3px 2px;
}
.country-list li a:hover {
  text-decoration: none;
  background: #f9f9f9;
}
.country-list li a .country-name {
  width: 40%;
  margin-right: 2%;
  display: inline-block;
  color: #333333;
  vertical-align: top;
}
.country-list li a .country-lang {
  color: #008fc5;
  vertical-align: top;
  width: 56%;
  display: inline-block;
}
.country-list li:last-child {
  border-bottom: 1px solid #ededed;
}
@media (min-width: 320px) and (max-width: 1199px) {
  .country-popup .modal-dialog {
    width: auto;
    margin: 10px;
  }
}
@media (min-width: 992px) {
  .map {
    background: url('../images/country-map.png') no-repeat left bottom;
    display: block;
    width: 300px;
    height: 250px;
  }
}
@media (min-width: 1200px) {
  .country-popup .modal-dialog {
    width: 1170px;
  }
  .country-list {
    margin-right: 30px;
    margin-left: 15px;
  }
}
